@model LanguageCreateViewModel

<h3>Language Create</h3>

<form asp-action="create" asp-controller="language" method="post">

    <div class="form-group row">
        <div class="col-2">

            <label for="InputlanguageName">Language Name: </label>
        </div>
        <div class="col-4">
            <input type="text" asp-for="@Model.LanguageName" class="form-control" id="languageName" aria-describedby="languageName" placeholder="Language Name">
            <small id="languageName" class="form-text text-muted"></small>
        </div>
        @*<br />*@
        <button  type="submit" class="btn btn-primary col-2">Submit</button>
    </div>
</form>