<p class="text-center alert alert-info mt-3 p-2 lead">
  Beklenmedik bir hata oluştu...
</p>
<p class="text-center mt-3">
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary text-center">Home</a>

</p>
