@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a href="https://github.com/yunusaltintas?tab=repositories">
            Github Link...
        </a>
    <p>
        <h4>AdminUser</h4>
        UserName=Yunus
        Password=123
    </p>
    <p>
        <h4>User</h4>
        UserName=User
        Password=123
    </p><br />

    <p>
        Used Technologies:
    </p>
    <p>.Net 6</p>
    <p> MSSQL </p>

    <p>Fluent Validation</p>
    <p>AutoMapper</p>
    <p>Rest-Sharp</p>
    <br />
    <p>
        Best Practices:
    </p>
    <p>Dependency injection</p>
    <p>Unit of Work</p>
    <p>n-tier Architecture</p>
    <p>Onion Architecture</p>
    <p>DTO</p>
    <p>Generic Repository</p>
    <p>IOptions System Models</p>
</div>
